<!-- <div id="footer_left">
    <img src="/assets/mastercard.gif" alt="Master Card" /><img src="/assets/visa.gif" alt="Visa Card" /><img src="/assets/paypal.gif" alt="PayPal" /><img src="/assets/verisignsecured.gif" alt="Verisign Secured" />
</div>

<%= flash[:notice]%>
<br />
<h3>Total Amount to paid : <%= number_to_currency(session[:amount]) %></h3>
<%= form_with url: "/payment/checkout", method: :post do |f| %>
<div class="field">
<%= f.label :first_name %><br />
<%= f.text_field :first_name %>
</div>
<div class="field">
<%= f.label :last_name %><br />
<%= f.text_field :last_name %>
</div>
<div class="field">
<%= f.label :credit_card_no %><br />
<%= f.text_field :credit_no %>
</div>
<div class="field">
<%= f.label :date_of_expiry %><br />
<select name="check[month]" id="check_out_month">
<option selected value="01">Janurary
<option  value="02">Feburary
<option  value="03">March
<option  value="04">April
<option  value="05">May
<option  value="06">June
<option  value="07">July
<option  value="08">August
<option  value="09">September
<option  value="10">October
<option  value="11">November
<option  value="12">December
</select>
<select name="check[year]" id=check_out_year">
<option selected value="2022">2022
<option  value="2023">2023
<option  value="2024">2024
<option  value="2025">2025
<option  value="2026">2026
<option  value="2027">2027
<option  value="2028">2028
<option  value="2029">2029
<option  value="2030">2030
<option  value="2031">2031
<option  value="2032">2032
<option  value="2033">2033
</select>
</div>

<div class="field">
<%= f.label :verification_number %><br />
<%= f.text_field :verification_number %>
</div>
<br/><br/>
<div class="actions">
<%= f.submit "Submit"%>
</div>
<% end %> -->
<html>
    <head>
        <link rel="stylesheet" href="checkout.css">
    </head>
<body>
    <br>
<div class="mainscreen">
    <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">-->
      <div class="card">
        <div class="leftside">
          <img src="/assets/cart.jpeg" class="product" alt="Shoes"/>
        </div>
        <div class="rightside">
            <h1>Checkout Page</h1>
            <%# <h3>Total Amount to be Paid : ₹<%= session[:amount] %></h3><br>
            <%= form_with url: "/payment/checkout", method: :post do |f| %>
<div class="field">
<%= f.label :first_name %><br />
<%= f.text_field :first_name %>
</div>
<div class="field">
<%= f.label :last_name %><br />
<%= f.text_field :last_name %>
</div>
<div class="field">
<%= f.label :credit_card_no %><br />
<%= f.text_field :credit_no %>
</div>
<div class="field">
<%= f.label :date_of_expiry %><br />
<select name="check[month]" id="check_out_month">
<option selected value="01">Janurary
<option  value="02">Feburary
<option  value="03">March
<option  value="04">April
<option  value="05">May
<option  value="06">June
<option  value="07">July
<option  value="08">August
<option  value="09">September
<option  value="10">October
<option  value="11">November
<option  value="12">December
</select>
<select name="check[year]" id=check_out_year">
<option selected value="2022">2022
<option  value="2023">2023
<option  value="2024">2024
<option  value="2025">2025
<option  value="2026">2026
<option  value="2027">2027
<option  value="2028">2028
<option  value="2029">2029
<option  value="2030">2030
<option  value="2031">2031
<option  value="2032">2032
<option  value="2033">2033
</select>
</div>

<div class="field">
<%= f.label :verification_number %><br />
<%= f.text_field :verification_number %>
</div>
<br/><br/>
<div class="actions">
<%= f.submit "Submit"%>
</div>
<% end %>
          <!-- <form action="">
            <h1>CheckOut</h1>
            <h3>Total Amount to paid : ₹<%= session[:amount] %></h3><br>

            <p>Cardholder Name</p>
            <input type="text" class="inputbox" name="name" required />
            <p>Card Number</p>
            <input type="number" class="inputbox" name="card_number" id="card_number" required />

            <p>Card Type</p>
            <select class="inputbox" name="card_type" id="card_type" required>
              <option value="">--Select a Card Type--</option>
              <option value="Visa">Visa</option>
              <option value="RuPay">RuPay</option>
              <option value="MasterCard">MasterCard</option>
            </select>
        <div class="expcvv">

            <p class="expcvv_text">Expiry</p>
            <input type="date" class="inputbox" name="exp_date" id="exp_date" required />

            <p class="expcvv_text2">CVV</p>
            <input type="password" class="inputbox" name="cvv" id="cvv" required />
        </div>
            <p></p>
            <button type="submit" class="button">CheckOut</button>
          </form> -->
        </div>
      </div>
    </div>
    <br>
</body>
</html>